<html>
    <head>
        <title>Pi Home Dashboard Admin</title>

        <script src="/js/vue.global.prod.min.js" lang="javascript"></script>
        <script src="/js/mqtt-5.5.0.min.js" lang="javascript"></script>

        <link rel="stylesheet" href="/css/admin.css" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />

        <script lang="javascript">
            const getStoredTheme = () => localStorage.getItem('theme')
            const setStoredTheme = theme => localStorage.setItem('theme', theme)

            const getPreferredTheme = () => {
                const storedTheme = getStoredTheme()

                if (storedTheme) {
                    return storedTheme
                }

                return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
            }

            const setTheme = theme => {
                if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    document.documentElement.setAttribute('data-bs-theme', 'dark')
                } else {
                    document.documentElement.setAttribute('data-bs-theme', theme)
                }
            }

            setTheme(getPreferredTheme())
          </script>

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div id="admin" class="container-fluid">
            <div class="mb-4">
                <h2>Pi Home Dashboard Admin</h2>

                <div class="alert alert-danger align-middle" role="alert" v-if="!connected">
                    <div class="spinner-border spinner-border-sm" role="status" v-if="connecting">
                        <span class="visually-hidden">Loading...</span>
                    </div>

                    Not connected to <span class="font-monospace">ws://{{ config.host }}:{{ config.port }}</span>
                </div>

                <div class="alert alert-success align-middle" role="alert" v-if="connected">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg> Connected to <span class="font-monospace">ws://{{ config.host }}:{{ config.port }}</span>
                </div>
            </div>

            <h3>Clients</h3>
            <div class="row mb-4">
                <div class="btn-group" role="group">
                    <button
                        type="button"
                        class="btn"
                        :class="{
                            'btn-primary': client === selectedClient,
                            'btn-outline-primary': client !== selectedClient,
                        }"
                        v-for="client in config.clientIds"
                        @click="setActiveClient(client)">
                            {{client}}
                    </button>
                </div>
            </div>

            <div class="alert alert-danger mb-4 pt-2 pb-2 text-center" role="alert" v-if="selectedClientConfig.status === 'offline'">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill align-middle" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                </svg> <span class="align-middle"><span class="fw-bold">{{ selectedClient }}</span> is offline!</span>
            </div>

            <div class="mb-4">
                <h4>Required configuration</h4>

                <div class="row">
<!-- NETWORK NAME -->
                    <div class="col-lg">
                        <form>
                            <div class="input-group mb-3 text-end">
                                <span class="input-group-text" id="ssid_description">Network name</span>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="ssid"
                                    aria-label="Network name"
                                    aria-describedby="ssid_description"
                                    v-model="selectedClientConfig.ssid"
                                    :disabled="inputsDisabled">
                                <button
                                    type="button"
                                    class="btn btn-outline-primary"
                                    :disabled="inputsDisabled"
                                    @click="updateConfig('ssid')">
                                        Update
                                </button>
                            </form>
                        </div>
                    </div>
<!-- NETWORK PASSWORD -->
                    <div class="col-lg">
                        <div class="input-group mb-3 text-end">
                            <span class="input-group-text" id="wifi_pw_description">Network password</span>
                            <input
                                type="password"
                                class="form-control"
                                id="wifi_pw"
                                aria-label="Network password"
                                aria-describedby="wifi_pw_description"
                                v-model="selectedClientConfig.wifi_pw"
                                :disabled="inputsDisabled">
                            <button
                                type="button"
                                class="btn btn-outline-primary"
                                :disabled="inputsDisabled"
                                @click="updateConfig('wifi_pw')">
                                    Update
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">
<!-- MQTT BROKER -->
                    <div class="col-lg">
                        <div class="input-group mb-3 text-end">
                            <span class="input-group-text" id="server_description">MQTT broker</span>
                            <input
                                type="text"
                                class="form-control"
                                id="server"
                                aria-label="MQTT broker"
                                aria-describedby="server_description"
                                v-model="selectedClientConfig.server"
                                :disabled="inputsDisabled">
                            <button
                                type="button"
                                class="btn btn-outline-primary"
                                :disabled="inputsDisabled"
                                @click="updateConfig('server')">
                                    Update
                            </button>
                        </div>
                    </div>
<!-- MQTT PORT -->
                    <div class="col-lg">
                        <div class="input-group mb-3 text-end">
                            <span class="input-group-text" id="port_description">MQTT broker port</span>
                            <input
                                type="text"
                                class="form-control"
                                id="port"
                                aria-label="MQTT broker port"
                                aria-describedby="port_description"
                                v-model="selectedClientConfig.port"
                                :disabled="inputsDisabled">
                            <button
                                type="button"
                                class="btn btn-outline-primary"
                                :disabled="inputsDisabled"
                                @click="updateConfig('port')">
                                    Update
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">
<!-- CLIENT ID -->
                    <div class="col-lg">
                        <div class="input-group mb-3 text-end">
                            <span class="input-group-text" id="client_id_description">Client ID</span>
                            <input
                                type="text"
                                class="form-control"
                                id="client_id"
                                aria-label="Client ID"
                                aria-describedby="client_id_description"
                                v-model="selectedClientConfig.client_id"
                                :disabled="inputsDisabled">
                            <button
                                type="button"
                                class="btn btn-outline-primary"
                                :disabled="inputsDisabled"
                                @click="updateConfig('client_id')">
                                    Update
                            </button>
                        </div>
                    </div>
<!-- TOPIC -->
                    <div class="col-lg">
                        <div class="input-group mb-3 text-end">
                            <span class="input-group-text" id="topic_description">Topic</span>
                            <input
                                type="text"
                                class="form-control"
                                id="topic"
                                aria-label="Topic"
                                aria-describedby="topic_description"
                                v-model="selectedClientConfig.topic"
                                :disabled="inputsDisabled">
                            <button
                                type="button"
                                class="btn btn-outline-primary"
                                :disabled="inputsDisabled"
                                @click="updateConfig('topic')">
                                    Update
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <h4>Sensor configuration</h4>

                <form>
                    <div class="row">
<!-- SENSOR TYPE -->
                        <div class="col-lg">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="sensor_type_description">Sensor type</span>
                                <select
                                    class="form-select"
                                    name="sensor_type"
                                    id="sensor_type"
                                    aria-label="Sensor type"
                                    aria-describedby="sensor_type_description"
                                    v-model="selectedClientConfig.sensor_type"
                                    :disabled="inputsDisabled">
                                        <option v-for="option in sensorTypes" :value="option.value">
                                            {{ option.text }}
                                        </option>
                                </select>
                                <button
                                    type="button"
                                    class="btn btn-outline-primary"
                                    :disabled="inputsDisabled"
                                    @click="updateConfig('sensor_type')">
                                        Update
                                </button>
                            </div>
                        </div>

<!-- RX PIN -->
                        <div class="col-lg">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="rx_pin_description">RX pin</span>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="rx_pin"
                                    aria-label="TX pin"
                                    aria-describedby="rx_pin_description"
                                    v-model="selectedClientConfig.rx_pin"
                                    :disabled="inputsDisabled"
                                    :placeholder="hidePlaceholderText ? '' : 26">
                                <button
                                    type="button"
                                    class="btn btn-outline-primary"
                                    :disabled="inputsDisabled"
                                    @click="updateConfig('rx_pin')">
                                        Update
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
<!-- SDA PIN -->
                        <div class="col-lg">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="sda_pin_description">SDA pin</span>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="sda_pin"
                                    aria-label="SDA pin"
                                    aria-describedby="sda_pin_description"
                                    v-model="selectedClientConfig.sda_pin"
                                    :disabled="inputsDisabled"
                                    :placeholder="hidePlaceholderText ? '' : 23">
                                <button
                                    type="button"
                                    class="btn btn-outline-primary"
                                    :disabled="inputsDisabled"
                                    @click="updateConfig('sda_pin')">
                                        Update
                                </button>
                            </div>
                        </div>

<!-- SCL PIN -->
                        <div class="col-lg">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="scl_pin_description">SCL pin</span>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="scl_pin"
                                    aria-label="SCL pin"
                                    aria-describedby="scl_pin_description"
                                    v-model="selectedClientConfig.scl_pin"
                                    :disabled="inputsDisabled"
                                    :placeholder="hidePlaceholderText ? '' : 22">
                                <button
                                    type="button"
                                    class="btn btn-outline-primary"
                                    :disabled="inputsDisabled"
                                    @click="updateConfig('scl_pin')">
                                        Update
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="mb-4">
                <h4>Optional configuration</h4>

                <form>
                    <div class="row">
<!-- NTP SERVER -->
                        <div class="col-lg">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="ntp_server_description">NTP server</span>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="ntp_server"
                                    aria-label="NTP server"
                                    aria-describedby="ntp_server_description"
                                    v-model="selectedClientConfig.ntp_server"
                                    :disabled="inputsDisabled"
                                    :placeholder="hidePlaceholderText ? '' : 'time.cloudflare.com'">
                                <button
                                    type="button"
                                    class="btn btn-outline-primary"
                                    :disabled="inputsDisabled"
                                    @click="updateConfig('ntp_server')">
                                        Update
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

<!-- DISABLE WATCHDOG TIMER -->
                <form>
                    <div class="mb-3 form-check form-switch">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            id="disable_watchdog"
                            v-model="selectedClientConfig.disable_watchdog"
                            :disabled="inputsDisabled"
                            @change="updateConfig('disable_watchdog')">
                        <label class="form-check-label" for="disable_watchdog">Disable watchdog timer</label>
                    </div>

<!-- ENABLE BME280 ADDITIONAL DATA -->
                    <div class="mb-3 form-check form-switch">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            id="enable_bme280_additional_data"
                            v-model="selectedClientConfig.enable_bme280_additional_data"
                            :disabled="inputsDisabled"
                            @change="updateConfig('enable_bme280_additional_data')">
                        <label class="form-check-label" for="enable_bme280_additional_data">Enable BME 280 additional data</label>
                    </div>
                </form>
            </div>

            <div class="mb-4">
                <h4>Update software</h4>

                <p class="small">
                    Configure where the software updates to the board will be pulled from. <span v-if="!hidePlaceholderText">Current configuration is <span class="font-monospace">https://api.github.com/repos/{{ selectedClientConfig.github_username ? selectedClientConfig.github_username : 'VirtualWolf' }}/{{ selectedClientConfig.github_repository ? selectedClientConfig.github_repository : 'esp32-sensor-reader-mqtt' }}/contents/src?ref={{ selectedClientConfig.github_ref ? selectedClientConfig.github_ref : 'main' }}</span></span>
                </p>

                <p class="small">
                    A <a href="https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens" target="_blank" rel="noopener noreferrer">GitHub token</a> must be specified to access private repositories.
                </p>

                <form>
                    <div class="row">
<!-- GITHUB USERNAME -->
                        <div class="col-lg">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="github_username_description">Username</span>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="github_username"
                                    aria-label="GitHub username"
                                    aria-describedby="github_username_description"
                                    v-model="selectedClientConfig.github_username"
                                    :disabled="inputsDisabled"
                                    :placeholder="hidePlaceholderText ? '' : 'VirtualWolf'">
                                <button
                                    type="button"
                                    class="btn btn-outline-primary"
                                    :disabled="inputsDisabled"
                                    @click="updateConfig('github_username')">
                                        Update
                                </button>
                            </div>
                        </div>

<!-- GITHUB REPOSITORY -->
                        <div class="col-lg">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="github_repository_description">Repository</span>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="github_repository"
                                    aria-label="GitHub repository"
                                    v-model="selectedClientConfig.github_repository"
                                    :disabled="inputsDisabled"
                                    aria-describedby="github_repository_description" :placeholder="hidePlaceholderText ? '' : 'esp32-sensor-reader-mqtt'">
                                <button
                                    type="button"
                                    class="btn btn-outline-primary"
                                    :disabled="inputsDisabled"
                                    @click="updateConfig('github_repository')">
                                        Update
                                </button>
                            </div>
                        </div>
                    </div>

<!-- GITHUB REF -->
                    <div class="row">
                        <div class="col-lg">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Ref</span>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="github_ref"
                                    aria-label="GitHub ref"
                                    aria-describedby="github_ref_description"
                                    v-model="selectedClientConfig.github_ref"
                                    :disabled="inputsDisabled"
                                    :placeholder="hidePlaceholderText ? '' : 'main'">
                                <button
                                    type="button"
                                    class="btn btn-outline-primary"
                                    :disabled="inputsDisabled"
                                    @click="updateConfig('github_ref')">
                                        Update
                                </button>
                            </div>
                        </div>

<!-- GITHUB API TOKEN -->
                        <div class="col-lg">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="github_token_description">API token</span>
                                <input
                                    type="password"
                                    class="form-control"
                                    id="github_token"
                                    aria-label="GitHub token"
                                    aria-describedby="github_token_description"
                                    v-model="selectedClientConfig.github_token"
                                    :disabled="inputsDisabled">
                                <button
                                    type="button"
                                    class="btn btn-outline-primary"
                                    :disabled="inputsDisabled"
                                    @click="updateConfig('github_token')">
                                        Update
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <button
                    type="button"
                    class="btn btn-outline-danger"
                    :disabled="inputsDisabled"
                    @click="triggerSoftwareUpdate(selectedClient)">
                        Update software
                </button>
            </div>

            <div class="mb-4">
                <h4>Logs</h4>

                <button
                    type="button"
                    class="btn btn-outline-primary mb-3"
                    :disabled="inputsDisabled"
                    @click="getSystemInfo(selectedClient)">
                        Get system info
                </button>

                <textarea class="form-control form-control-sm font-monospace logs-output" id="logs-output" rows="10" readonly :value="messages.join('\n')"></textarea>
        </div>
    </body>

    <script>
        const Admin = {
            data() {
                return {
                    config: {},
                    clientIds: [],
                    selectedClient: undefined,
                    selectedClientConfig: {
                        ssid: undefined,
                        wifi_pw: undefined,
                        server: undefined,
                        port: undefined,
                        client_id: undefined,
                        topic: undefined,
                        ntp_server: undefined,
                        sensor_type: undefined,
                        rx_pin: undefined,
                        sda_pin: undefined,
                        scl_pin: undefined,
                        disable_watchdog: false,
                        enable_bme280_additional_data: true,
                        github_token: undefined,
                        github_username: undefined,
                        github_repository: undefined,
                        github_ref: undefined,
                        status: undefined,
                    },
                    subscriptionActive: false,
                    connecting: false,
                    connected: false,
                    messages: [],
                    sensorTypes: [
                        {text: 'DHT22', value: 'dht22'},
                        {text: 'BME280', value: 'bme280'},
                        {text: 'PMS5003', value: 'pms5003'},
                    ]
                };
            },

            async mounted() {
                await this.fetchConfig()
                await this.connect();
            },

            computed: {
                inputsDisabled() {
                    return !this.connected || !this.subscriptionActive || this.selectedClientConfig.status === 'offline'
                },

                hidePlaceholderText() {
                    return !this.subscriptionActive || this.selectedClientConfig.status === 'offline'
                }
            },

            methods: {
                async fetchConfig() {
                    const response = await fetch('/api/config');
                    const json = await response.json();

                    return this.config = {
                        host: json.brokerAddress,
                        port: 8083,
                        protocol: 'ws',
                        clientIds: json.clientIds,
                    };
                },

                init() {
                    this.connecting = false;
                    this.subscriptionActive = false;
                },

                async connect() {
                    try {
                        this.connecting = true;

                        const { protocol, host, port, ...options } = this.config;
                        const connectionUrl = `${protocol}://${host}:${port}`;

                        this.client = mqtt.connect(connectionUrl, options);

                        if (this.client.on) {
                            this.client.on('connect', () => {
                                this.connecting = false;
                                this.connected = true;

                                console.log(`Connection to broker at ${host}:${port} succeeded`);
                            });

                            this.client.on('message', async (topic, message) => {
                                console.log(`Received message on ${topic}: ${message}`);

                                try {
                                    const json = JSON.parse(message);

                                    if (json.config) {
                                        this.selectedClientConfig = json.config;

                                        // The default setting for the ESP32 code is to enable additional data unless it's
                                        //  explicitly turned off, so we need to make the toggle match that default state
                                        if (json.config.enable_bme280_additional_data === undefined) {
                                            this.selectedClientConfig.enable_bme280_additional_data = true;
                                        }
                                    }

                                    if (json.status && json.status === 'online') {
                                        this.selectedClientConfig.status = 'online';

                                        // This ensures we get the latest configuration after the client comes back online
                                        await this.getClientConfiguration(this.selectedClient);
                                    }

                                    if (json.status && json.status === 'offline') {
                                        this.selectedClientConfig.status = 'offline';
                                    }
                                } catch (err) {
                                    console.log(err)
                                }

                                const now = new Date();
                                const hour = now.getHours().toString().padStart(2, '0');
                                const minute = now.getMinutes().toString().padStart(2, '0');
                                this.messages.unshift(`[${hour}:${minute}] ` + message.toString());
                            });

                            this.client.on('offline', () => {
                                this.connecting = true;
                                this.connected = false;
                            })
                        }
                    } catch (err) {
                        this.connecting = false;
                        console.log('MQTT connection error', err);
                    }
                },

                async subscribe(clientId) {
                    const topic = `logs/${clientId}`;

                    try {
                        await this.client.subscribeAsync(topic, {qos: 1});

                        this.subscriptionActive = true;

                        console.log(`Successfully subscribed to ${topic}`);

                        await this.getClientConfiguration(clientId);
                    } catch (err) {
                        console.log(`Subscription to ${topic} failed`, err);

                        return;
                    }

                },

                async unsubscribe(clientId) {
                    try {
                        await this.client.unsubscribeAsync(`logs/${clientId}`);

                        console.log(`Successfully unsubscribed from ${clientId}`);

                        this.selectedClient = undefined;
                        this.subscriptionActive = false;
                        this.messages = [];
                    } catch (err) {
                        console.log(`Failed to unsubscribe from logs/${clientId}`, err);
                    }

                },

                async setActiveClient(clientId) {
                    if (this.selectedClient !== clientId && this.selectedClient !== undefined) {
                        this.resetLoadedConfiguration();

                        await this.unsubscribe(clientId);
                    }

                    if (this.selectedClient === clientId) {
                        this.resetLoadedConfiguration();

                        await this.unsubscribe(clientId);

                        return;
                    }

                    this.selectedClient = clientId;

                    await this.subscribe(clientId);
                },

                resetLoadedConfiguration() {
                    this.selectedClientConfig = {
                        ssid: undefined,
                        wifi_pw: undefined,
                        server: undefined,
                        port: undefined,
                        client_id: undefined,
                        topic: undefined,
                        ntp_server: undefined,
                        rx_pin: undefined,
                        sda_pin: undefined,
                        scl_pin: undefined,
                        disable_watchdog: false,
                        enable_bme280_additional_data: true,
                        github_username: undefined,
                        github_token: undefined,
                        github_repository: undefined,
                        github_ref: undefined,
                        is_offline: undefined,
                    };
                },

                async getClientConfiguration() {
                    await this.sendCommand({ command: 'get_config' });
                },

                async triggerSoftwareUpdate(clientId) {
                    await this.sendCommand({command: 'update_code'});
                },

                async getSystemInfo() {
                    await this.sendCommand({command: 'get_system_info'});
                },

                async updateConfig(configName) {
                    payload = {
                        command: 'update_config',
                        config: {
                            [configName]: this.selectedClientConfig[configName],
                        }
                    };

                    await this.sendCommand(payload);
                },

                async sendCommand(payload) {
                    const topic = `commands/${this.selectedClient}`;
                    const json = JSON.stringify(payload);

                    console.log(`Sending message ${json} to ${topic}`)

                    try {
                        await this.client.publishAsync(topic, JSON.stringify(payload), {qos: 1});
                    } catch (err) {
                        console.log(`Could not publish message to ${topic}`, err);
                    }
                }
            }
        }

        Vue.createApp(Admin).mount('#admin');
    </script>
</html>
