<html>
    <head>
        <title>Pi Home Dashboard Admin</title>

        <script src="/js/vue.global.prod.min.js" lang="javascript"></script>
        <script src="/js/mqtt-5.5.0.min.js" lang="javascript"></script>

        <link rel="stylesheet" href="/css/admin.css" />
        <link rel="stylesheet" href="/css/bootstrap.min.css" />

        <script lang="javascript">
            const getStoredTheme = () => localStorage.getItem('theme')
            const setStoredTheme = theme => localStorage.setItem('theme', theme)

            const getPreferredTheme = () => {
                const storedTheme = getStoredTheme()

                if (storedTheme) {
                    return storedTheme
                }

                return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
            }

            const setTheme = theme => {
                if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                    document.documentElement.setAttribute('data-bs-theme', 'dark')
                } else {
                    document.documentElement.setAttribute('data-bs-theme', theme)
                }
            }

            setTheme(getPreferredTheme())
        </script>

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div id="admin" class="container-fluid">
            <div class="mb-4">
                <h2>Pi Home Dashboard Admin</h2>

                <div class="alert alert-danger align-middle" role="alert" v-if="!connected">
                    <div class="spinner-border spinner-border-sm" role="status" v-if="connecting">
                        <span class="visually-hidden">Loading...</span>
                    </div>

                    Not connected to <span class="font-monospace">ws://{{ config.host }}:{{ config.port }}</span>
                </div>

                <div class="alert alert-success align-middle" role="alert" v-if="connected">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </svg> Connected to <span class="font-monospace">ws://{{ config.host }}:{{ config.port }}</span>
                </div>
            </div>

            <h3>Clients</h3>

            <div class="row">
                <div class="btn-group" role="group">
                    <button
                        type="button"
                        class="btn"
                        :class="{
                            'btn-primary': client === selectedClient,
                            'btn-outline-primary': client !== selectedClient,
                        }"
                        v-for="client in config.clientIds"
                        @click="setActiveClient(client)">
                            {{client}}
                    </button>
                </div>
            </div>

            <div class="alert alert-danger mt-3 pt-2 pb-2 text-center" role="alert" v-if="selectedClientConfig.status === 'offline'">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill align-middle" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                </svg> <span class="align-middle"><span class="fw-bold">{{ selectedClient }}</span> is offline!</span>
            </div>

            <hr>

            <div>
                <h4>Required configuration</h4>

                <div class="row">

                    <!-- NETWORK NAME -->
                    <div class="col-lg">
                        <form>
                            <div class="input-group mb-3 text-end">
                                <span class="input-group-text" id="ssid_description">Network name</span>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="ssid"
                                    aria-label="Network name"
                                    aria-describedby="ssid_description"
                                    v-model="selectedClientConfig.ssid"
                                    :disabled="inputsDisabled">
                                <button
                                    type="button"
                                    class="btn btn-outline-primary"
                                    :disabled="inputsDisabled"
                                    @click="updateConfig('ssid')">
                                        Update
                                </button>
                            </form>
                        </div>
                    </div>

                    <!-- NETWORK PASSWORD -->
                    <div class="col-lg">
                        <div class="input-group mb-3 text-end">
                            <span class="input-group-text" id="wifi_pw_description">Network password</span>
                            <input
                                type="password"
                                class="form-control"
                                id="wifi_pw"
                                aria-label="Network password"
                                aria-describedby="wifi_pw_description"
                                v-model="selectedClientConfig.wifi_pw"
                                :disabled="inputsDisabled">
                            <button
                                type="button"
                                class="btn btn-outline-primary"
                                :disabled="inputsDisabled"
                                @click="updateConfig('wifi_pw')">
                                    Update
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <!-- MQTT BROKER -->
                    <div class="col-lg">
                        <div class="input-group mb-3 text-end">
                            <span class="input-group-text" id="server_description">MQTT broker</span>
                            <input
                                type="text"
                                class="form-control"
                                id="server"
                                aria-label="MQTT broker"
                                aria-describedby="server_description"
                                v-model="selectedClientConfig.server"
                                :disabled="inputsDisabled">
                            <button
                                type="button"
                                class="btn btn-outline-primary"
                                :disabled="inputsDisabled"
                                @click="updateConfig('server')">
                                    Update
                            </button>
                        </div>
                    </div>

                    <!-- MQTT PORT -->
                    <div class="col-lg">
                        <div class="input-group mb-3 text-end">
                            <span class="input-group-text" id="port_description">MQTT broker port</span>
                            <input
                                type="text"
                                class="form-control"
                                id="port"
                                aria-label="MQTT broker port"
                                aria-describedby="port_description"
                                v-model="selectedClientConfig.port"
                                :disabled="inputsDisabled">
                            <button
                                type="button"
                                class="btn btn-outline-primary"
                                :disabled="inputsDisabled"
                                @click="updateConfig('port')">
                                    Update
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <!-- CLIENT ID -->
                    <div class="col-lg">
                        <div class="input-group mb-3 text-end">
                            <span class="input-group-text" id="client_id_description">Client ID</span>
                            <input
                                type="text"
                                class="form-control"
                                id="client_id"
                                aria-label="Client ID"
                                aria-describedby="client_id_description"
                                v-model="selectedClientConfig.client_id"
                                :disabled="inputsDisabled">
                            <button
                                type="button"
                                class="btn btn-outline-primary"
                                :disabled="inputsDisabled"
                                @click="updateConfig('client_id')">
                                    Update
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div>
                <h4>Sensor configuration</h4>

                <div class="row mb-4">

                    <!-- SDA PIN -->
                    <div class="col-lg">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="sda_pin_description">SDA pin</span>
                            <input
                                type="text"
                                class="form-control"
                                id="sda_pin"
                                aria-label="SDA pin"
                                aria-describedby="sda_pin_description"
                                v-model="selectedClientConfig.sda_pin"
                                :disabled="inputsDisabled"
                                :placeholder="hidePlaceholderText ? '' : 23">
                            <button
                                type="button"
                                class="btn btn-outline-primary"
                                :disabled="inputsDisabled"
                                @click="updateConfig('sda_pin')">
                                    Update
                            </button>
                        </div>
                    </div>

                    <!-- SCL PIN -->
                    <div class="col-lg">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="scl_pin_description">SCL pin</span>
                            <input
                                type="text"
                                class="form-control"
                                id="scl_pin"
                                aria-label="SCL pin"
                                aria-describedby="scl_pin_description"
                                v-model="selectedClientConfig.scl_pin"
                                :disabled="inputsDisabled"
                                :placeholder="hidePlaceholderText ? '' : 22">
                            <button
                                type="button"
                                class="btn btn-outline-primary"
                                :disabled="inputsDisabled"
                                @click="updateConfig('scl_pin')">
                                    Update
                            </button>
                        </div>
                    </div>
                </div>

                <div class="mb-5">
                    <h5>Sensors</h5>

                    <form>

                        <!-- SENSORS LIST -->
                        <div v-for="(sensor, index) in selectedClientConfig.sensors" class="mb-3">
                            <form>
                                <div class="row">

                                    <!-- SENSOR TYPE -->
                                    <div class="col-lg" class="mb-4">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" :id="`sensor_type_description_${index}`">Sensor type</span>
                                            <select
                                                class="form-select"
                                                name="sensor_type"
                                                :id="`sensor_type_${index}`"
                                                aria-label="Sensor type"
                                                :aria-describedby="`sensor_type_description_${index}`"
                                                v-model="selectedClientConfig.sensors[index].type"
                                                :disabled="inputsDisabled">
                                                    <option v-for="option in sensorTypes" :value="option.value">
                                                        {{ option.text }}
                                                    </option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- MQTT TOPIC -->
                                    <div class="col-lg">
                                        <div class="input-group mb-3 text-end">
                                            <span class="input-group-text" :id="`topic_description_${index}`">Topic</span>
                                            <input
                                                type="text"
                                                class="form-control"
                                                :id="`topic_${index}`"
                                                aria-label="Topic"
                                                :aria-describedby="`topic_description_${index}`"
                                                v-model="selectedClientConfig.sensors[index].topic"
                                                :disabled="inputsDisabled">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <!-- I2C ADDRESS -->
                                    <div class="col-lg" v-if="sensor.type === 'bme280' || sensor.type === 'ens160'">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" :id="`i2c_address_${index}_description`">I2C address</span>
                                            <input
                                                type="text"
                                                class="form-control"
                                                :id="`i2c_address_${index}`"
                                                aria-label="I2C address"
                                                :aria-describedby="`i2c_address_${index}_description`"
                                                v-model="selectedClientConfig.sensors[index].i2c_address"
                                                :disabled="inputsDisabled">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <!-- ENABLE BME280 ADDITIONAL DATA -->
                                    <div class="col-lg" v-if="sensor.type === 'bme280'">
                                        <div class="mb-3 form-check form-switch">
                                            <input
                                                class="form-check-input"
                                                type="checkbox"
                                                role="switch"
                                                :id="`enable_additional_data_${index}`"
                                                v-model="selectedClientConfig.sensors[index].enable_additional_data"
                                                :disabled="inputsDisabled">
                                            <label class="form-check-label" :for="`enable_additional_data_${index}`">Enable additional data</label>
                                        </div>
                                    </div>

                                    <!-- RX PIN -->
                                    <div class="col-lg" v-if="sensor.type === 'dht22' || sensor.type === 'pms5003'">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" :id="`rx_pin_${index}_description`">RX pin</span>
                                            <input
                                                type="text"
                                                class="form-control"
                                                :id="`rx_pin_${index}`"
                                                aria-label="RX pin"
                                                :aria-describedby="`rx_pin_${index}_description`"
                                                v-model="selectedClientConfig.sensors[index].rx_pin"
                                                :disabled="inputsDisabled">
                                        </div>
                                    </div>

                                    <!-- REMOVE SENSOR BUTTON -->
                                    <div class="col-lg text-end">
                                        <button
                                        type="button"
                                        class="btn btn-outline-danger"
                                        @click="removeSensor(index)">
                                            Remove sensor
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- ADD AND UPDATE SENSORS -->
                        <div class="btn-group" role="group">
                            <button
                                type="button"
                                class="btn btn-outline-primary"
                                :disabled="inputsDisabled"
                                @click="addSensor">
                                Add sensor
                            </button>

                            <button
                                type="button"
                                class="btn btn-outline-primary"
                                :disabled="inputsDisabled"
                                @click="updateSensorConfig">
                                Update sensor config
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <hr>

            <div>
                <h4>Optional configuration</h4>

                <form>
                    <div class="row">

                        <!-- NTP SERVER -->
                        <div class="col-lg">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="ntp_server_description">NTP server</span>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="ntp_server"
                                    aria-label="NTP server"
                                    aria-describedby="ntp_server_description"
                                    v-model="selectedClientConfig.ntp_server"
                                    :disabled="inputsDisabled"
                                    :placeholder="hidePlaceholderText ? '' : 'time.cloudflare.com'">
                                <button
                                    type="button"
                                    class="btn btn-outline-primary"
                                    :disabled="inputsDisabled"
                                    @click="updateConfig('ntp_server')">
                                        Update
                                </button>
                            </div>
                        </div>

                        <!-- LED PIN -->
                        <div class="col-lg">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="led_pin_description">LED pin</span>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="led_pin"
                                    aria-label="LED pin"
                                    aria-describedby="led_pin_description"
                                    v-model="selectedClientConfig.led_pin"
                                    :disabled="inputsDisabled"
                                    :placeholder="hidePlaceholderText ? '' : '13'">
                                <button
                                    type="button"
                                    class="btn btn-outline-primary"
                                    :disabled="inputsDisabled"
                                    @click="updateConfig('led_pin')">
                                        Update
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <!-- NEOPIXEL PIN -->
                        <div class="col-lg">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="neopixel_pin_description">NeoPixel pin</span>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="neopixel_pin"
                                    aria-label="NeoPixel pin"
                                    aria-describedby="neopixel_pin_description"
                                    v-model="selectedClientConfig.neopixel_pin"
                                    :disabled="inputsDisabled">
                                <button
                                    type="button"
                                    class="btn btn-outline-primary"
                                    :disabled="inputsDisabled"
                                    @click="updateConfig('neopixel_pin')">
                                        Update
                                </button>
                            </div>
                        </div>

                        <!-- NEOPIXEL POWER PIN -->
                        <div class="col-lg">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="neopixel_power_pin_description">NeoPixel power pin</span>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="neopixel_power_pin"
                                    aria-label="NeoPixel power pin"
                                    aria-describedby="neopixel_power_pin_description"
                                    v-model="selectedClientConfig.neopixel_power_pin"
                                    :disabled="inputsDisabled">
                                <button
                                    type="button"
                                    class="btn btn-outline-primary"
                                    :disabled="inputsDisabled"
                                    @click="updateConfig('neopixel_power_pin')">
                                        Update
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <form>
                    <!-- DISABLE WATCHDOG TIMER -->
                    <div class="mb-3 form-check form-switch">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            id="disable_watchdog"
                            v-model="selectedClientConfig.disable_watchdog"
                            :disabled="inputsDisabled"
                            @change="updateConfig('disable_watchdog')">
                        <label class="form-check-label" for="disable_watchdog">Disable watchdog timer</label>
                    </div>

                    <!-- ENABLE BME280 ADDITIONAL DATA -->
                    <div class="mb-3 form-check form-switch" v-if="selectedClientConfig.sensors === undefined">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            id="enable_bme280_additional_data"
                            v-model="selectedClientConfig.enable_bme280_additional_data"
                            :disabled="inputsDisabled"
                            @change="updateConfig('enable_bme280_additional_data')">
                        <label class="form-check-label" for="enable_bme280_additional_data">Enable BME 280 additional data</label>
                    </div>
                </form>
            </div>

            <hr>

            <!-- UPDATE SOFTWARE -->
            <div>
                <h4>Update software</h4>

                <p class="small">
                    Configure where the software updates to the board will be pulled from. <span v-if="!hidePlaceholderText">Current configuration is <span class="font-monospace">https://api.github.com/repos/{{ selectedClientConfig.github_username ? selectedClientConfig.github_username : 'VirtualWolf' }}/{{ selectedClientConfig.github_repository ? selectedClientConfig.github_repository : 'esp32-sensor-reader-mqtt' }}/contents/src?ref={{ selectedClientConfig.github_ref ? selectedClientConfig.github_ref : 'main' }}</span></span>
                </p>

                <p class="small">
                    A <a href="https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens" target="_blank" rel="noopener noreferrer">GitHub token</a> must be specified to access private repositories.
                </p>

                <form>
                    <div class="row">

                        <!-- GITHUB USERNAME -->
                        <div class="col-lg">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="github_username_description">Username</span>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="github_username"
                                    aria-label="GitHub username"
                                    aria-describedby="github_username_description"
                                    v-model="selectedClientConfig.github_username"
                                    :disabled="inputsDisabled"
                                    :placeholder="hidePlaceholderText ? '' : 'VirtualWolf'">
                                <button
                                    type="button"
                                    class="btn btn-outline-primary"
                                    :disabled="inputsDisabled"
                                    @click="updateConfig('github_username')">
                                        Update
                                </button>
                            </div>
                        </div>

                        <!-- GITHUB REPOSITORY -->
                        <div class="col-lg">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="github_repository_description">Repository</span>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="github_repository"
                                    aria-label="GitHub repository"
                                    v-model="selectedClientConfig.github_repository"
                                    :disabled="inputsDisabled"
                                    aria-describedby="github_repository_description" :placeholder="hidePlaceholderText ? '' : 'esp32-sensor-reader-mqtt'">
                                <button
                                    type="button"
                                    class="btn btn-outline-primary"
                                    :disabled="inputsDisabled"
                                    @click="updateConfig('github_repository')">
                                        Update
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <!-- GITHUB REF -->
                        <div class="col-lg">
                            <div class="input-group">
                                <span class="input-group-text">Ref</span>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="github_ref"
                                    aria-label="GitHub ref"
                                    aria-describedby="github_ref_description"
                                    v-model="selectedClientConfig.github_ref"
                                    :disabled="inputsDisabled"
                                    :placeholder="hidePlaceholderText ? '' : 'main'">
                                <button
                                    type="button"
                                    class="btn btn-outline-primary"
                                    :disabled="inputsDisabled"
                                    @click="updateConfig('github_ref')">
                                        Update
                                </button>
                            </div>
                        </div>

                        <!-- GITHUB API TOKEN -->
                        <div class="col-lg">
                            <div class="input-group">
                                <span class="input-group-text" id="github_token_description">API token</span>
                                <input
                                    type="password"
                                    class="form-control"
                                    id="github_token"
                                    aria-label="GitHub token"
                                    aria-describedby="github_token_description"
                                    v-model="selectedClientConfig.github_token"
                                    :disabled="inputsDisabled">
                                <button
                                    type="button"
                                    class="btn btn-outline-primary"
                                    :disabled="inputsDisabled"
                                    @click="updateConfig('github_token')">
                                        Update
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- UPDATE SOFTWARE BUTTON -->
                <button
                    type="button"
                    class="btn btn-outline-danger"
                    :disabled="inputsDisabled"
                    @click="triggerSoftwareUpdate(selectedClient)">
                        Update software
                </button>
            </div>

            <hr>

            <!-- UPDATE FIRMWARE -->
            <div>
                <h4>Update firmware</h4>

                <p class="small">
                    Requires the URL of a <span class="font-monospace">.app-bin</span> firmware file from the "Firmware (Support for OTA)" section of the <a href="https://micropython.org/download/" target="_blank">MicroPython download page</a> for your specific board.
                </p>

                <form>

                    <!-- FIRMWARE URL -->
                    <div class="row">
                        <div class="col-lg">
                            <div class="input-group">
                                <span class="input-group-text" id="firmware_url_description">URL</span>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="firmware_url"
                                    aria-label="Firmware URL"
                                    aria-describedby="firmware_url_description"
                                    v-model="firmware.url"
                                    @input="checkIfValidFirmwareUrl"
                                    :disabled="inputsDisabled">
                            </div>
                        </div>
                    </div>
                </form>

                <button
                    type="button"
                    class="btn btn-outline-danger"
                    :disabled="updateFirmwareButtonDisabled"
                    @click="triggerFirmwareUpdate">
                        Update firmware
                        <span class="spinner-border spinner-border-sm" role="status" v-if="firmware.update_status === 'updating'">
                            <span class="visually-hidden">Loading...</span>
                        </span>
                </button>
            </div>

            <hr>

            <!-- REPLACE CONFIG -->
            <div>
                <h4>Replace configuration</h4>

                <p class="small">
                    Replace the <em>entire</em> JSON configuration of the selected board all in one go. At minimum it requires <span class="font-monospace">ssid</span>, <span class="font-monospace">wifi_pw</span>, <span class="font-monospace">server</span>, <span class="font-monospace">port</span>, and <span class="font-monospace">client_id</span> to be set.
                </p>

                <textarea
                    class="form-control form-control-sm font-monospace logs-output mb-3" id="replacement-configuration"
                    rows="3"
                    v-model="replacementConfiguration.config"
                    @input="isConfigurationValidJson"></textarea>

                <button
                    type="button"
                    class="btn btn-outline-danger"
                    :disabled="inputsDisabled || !replacementConfiguration.isValidJson"
                    @click="replaceConfiguration">
                        Replace configuration
                </button>
            </div>

            <hr>

            <!-- LOGS -->
            <div>
                <h4>Logs</h4>

                <div class="btn-group" role="group">
                    <button
                        type="button"
                        class="btn btn-outline-primary mb-3"
                        :disabled="inputsDisabled"
                        @click="getSystemInfo">
                            Get system info
                    </button>

                    <button
                        type="button"
                        class="btn btn-outline-primary mb-3"
                        :disabled="inputsDisabled"
                        @click="restartBoard">
                            Restart board
                    </button>

                    <button
                        type="button"
                        class="btn btn-outline-primary mb-3"
                        :disabled="inputsDisabled"
                        @click="clearLogs">
                            Clear logs
                    </button>
                </div>

                <textarea class="form-control form-control-sm font-monospace logs-output mb-3" id="logs-output" rows="10" readonly :value="messages.join('\n')"></textarea>
            </div>

        <script lang="javascript" src="/js/admin.js"></script>
    </body>
</html>
